* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  border-style: none;
  font-weight: lighter;
}

body {
  background-color: #d8ebea;
}

button {
  font-weight: normal;
}
button:hover {
  cursor: pointer;
}
a {
  color: rgba(0, 0, 0, 0.95);
  text-decoration: none;
  font-weight: normal;
}
a:hover {
  color: black;
}
::-webkit-scrollbar {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(184, 219, 217);
  border-radius: 5px;
}
.doubler {
  display: grid;
}

.scroll {
  overflow-y: auto;
}

.lightlabel {
  color: rgba(0, 0, 0, 0.95);
  padding: 0.75em;
  padding-bottom: 0;
}

.backheader {
  display: inline;
}
/* Schedule Header */
.scheduleheader {
  display: inline;
}

.timegroup {
  text-align: center;
  display: block;
  font-size: 1.3em;
}

.fillup.dayNotes {
  min-height: 0px;
  max-height: calc(100% - 3em);
  overflow-y: auto;
  border-radius: 10px;
  padding: 0.5em;
  margin-right: 1em;
}

#currenttimedisplay {
  font-size: 2em;
}

.baseline {
  margin-top: -1.6em;
  padding: 0 1em;
}

#progressbar {
  border-style: solid;
  border-color: rgb(184, 219, 217);
  border-radius: 5px;
  border-width: thin;
  height: 20px;
  width: calc(100% - 2em);
  margin-left: 1em;
}

#progress {
  background-color: rgb(0, 121, 145);
  height: 100%;
  border-radius: 5px;
  width: 1%;
}

/* Schedule Main Grid */
#schedulegrid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 3fr 1.3fr;
  gap: 2em 1em;
  grid-template-areas: ". ." ". .";
  padding: 1em;
}
/* Current Main Display add iff statement for when there is no subtasks to fix grid of notes */
#currentdisplay {
  height: 55vh;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(0, 121, 145);
  border-style: solid;
  border-width: thin;
  border-color: rgb(184, 219, 217);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content minmax(min-content 40%) minmax(
      1fr max-content
    );
  grid-template-areas: "top" "sub" "note";
}
#currentdisplayname {
  color: rgba(255, 255, 255, 0.95);
  font-size: 3em;
  display: inline;
}
#currentdisplay.finished {
  color: rgba(184, 219, 217, 0.95);
}
#currenttasktop {
  padding: 1em;
  grid-area: top;
}
#nexttaskbutt {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.95);
  font-size: 1.2em;
  display: inline;
  padding: 1.2em;
  float: right;
  margin: -0.75em;
}
#currentdiplaysub {
  grid-area: sub;
  overflow-y: auto;
  border-radius: 8px;
  margin-top: -1em;
}
.subtaskdisplay {
  background-color: rgb(244, 244, 249);
  padding: 0.75em;
  margin: 0.5em 1em;
  border-radius: 8px;
  border-color: rgb(184, 219, 217);
  border-style: solid;
  border-width: thin;
  display: grid;
  grid-template-columns: 1em 8fr max-content;
  grid-column-gap: 0.5em;
}

.subtaskdisplay.finished {
  background-color: rgb(184, 219, 217);
}

#currentdisplaynotes {
  padding: 1em;
  grid-area: note;
  height: 100%;
  margin-right: 1em;
  border-radius: 10px;
  margin-top: -0.75em;
  margin-bottom: -0.5em;
  color: rgba(0, 0, 0, 0.95);
}
/* UpcomingList display */
#upcominglist {
  height: 55vh;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(244, 244, 249);
  border-style: solid;
  border-width: thin;
  border-color: rgb(184, 219, 217);
}

#daynotes,
#booleanlist {
  height: 110%;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(244, 244, 249);
  border-style: solid;
  border-width: thin;
  border-color: rgb(184, 219, 217);
  overflow-y: auto;
  overflow-x: hidden;
}
#daynotes {
  padding: 0.75em;
  height: calc(100% - 0.5em);
  width: calc(100% - 1.5em);
  resize: none;
  color: rgba(0, 0, 0, 0.95);
}

/* end */

.content {
  padding: 1.5em;
  display: block;
  float: right;
  margin-left: calc(200px + 2em + 4%);
  max-width: calc(100vw - 250px);
}

.schedulepreview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(244, 244, 249);
  border-radius: 5px;
  border-color: rgb(184, 219, 217);
  border-style: solid;
  border-width: 1px;
  max-height: 140vh;
  overflow-y: scroll;
}

.schedulepreviewcontainer {
  display: grid;
  grid-template-columns: 1fr;
  height: 70vh;
  margin-bottom: 1.5em;
}

.secondpart {
  padding-top: 0.4em;
}

.lineup {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content;
}

.hide {
  display: none;
}
.lighttext {
  color: rgba(255, 255, 255, 0.95);
  background-color: rgb(0, 121, 145);
}
/* Sidebar */
.sidebar {
  background-color: rgb(0, 121, 145);
  height: 100vh;
  width: 20vw;
  min-width: 210px;
  max-width: 250px;
  padding: 1.5em;
  margin: 0;
  position: fixed;
  z-index: 0;
}
#createpresetbutton {
  width: 100%;
  padding: 0.8em;
  border-style: solid;
  border-radius: 5px;
  border-width: thin;
  font-size: 0.85em;
  border-color: rgb(184, 219, 217);
  background-color: rgb(184, 219, 217);
  margin-bottom: 0.5em;
  color: rgba(0, 0, 0, 0.95);
}

#createpresetbutton:active {
  background-color: rgb(0, 121, 145);
  color: rgba(255, 255, 255, 0.95);
}

/* Sidebar Selection Containers */
.sidebarlist,
.dayNotes {
  resize: none;
  width: 100%;
  max-width: 100%;
  border-style: solid;
  border-color: rgb(184, 219, 217);
  border-radius: 5px;
  border-width: thin;
  background-color: rgb(244, 244, 249);
  margin: 0.5em 0;
  height: calc(22vh - 2em);
  overflow-y: scroll;
}
/* Creation Selections */
.creationselection {
  background-color: #d8ebea;
  width: 88%;
  margin: 2.5%;
  padding: 0.5em;
  border-style: solid;
  border-radius: 5px;
  border-width: thin;
  font-size: 0.85em;
  border-color: rgb(184, 219, 217);
  display: grid;
  grid-template-columns: 0.75em auto;
}

.selectionname {
  margin-left: 0.5em;
}

/* task cards */
.taskblock {
  background-color: #d8ebea;
  width: 91%;
  margin: 2.5%;
  padding: 0.5em;
  border-style: solid;
  border-radius: 5px;
  border-width: thin;
  font-size: 0.85em;
  border-color: rgb(184, 219, 217);
  display: grid;
  grid-template-columns: 0.9em auto max-content;
  grid-template-rows: max-content max-content;
  grid-template-areas: "deletebutton taskname time" "deletebutton subtask subtask";
  height: min-content;
}

.deletebutton {
  /* grid-area: deletebutton; */
  height: auto;
  font-size: 1em;
  float: left;
  margin: -0.5em;
  background-color: transparent;
  color: transparent;
}
.deletebutton:hover {
  color: black;
  background-color: rgb(184, 219, 217);
}
/* Task Creator */
#taskcreator {
  background-color: rgb(244, 244, 249);
  border-radius: 5px;
  border-color: rgb(184, 219, 217);
  border-style: solid;
  border-width: 1px;
  min-height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.right {
  float: right;
}

.tasknameinput {
  font-size: 1.4em;
  padding: 0.3em;
  margin: 0.25em;
}

.taskcreationinput {
  border-style: solid;
  border-color: rgb(184, 219, 217);
  border-radius: 0px;
  border-width: thin;
  background-color: rgb(244, 244, 249);
}

.tasknotesinput {
  display: inline-block;
  resize: none;
  overflow-y: scroll;
  vertical-align: top;
  margin: 0.25em;
  padding: 0.3em;
  width: calc(100% - 4em);
  margin-top: 0.4em;
}

.subtasknameinput {
  padding: 0.3em;
  min-width: 14em;
  margin: 0.25em;
  margin-left: 0.3em;
  font-size: 1em;
}
.taskname {
  grid-area: taskname;
  padding: 0.5em;
  padding-top: 1em;
  font-size: 1.3em;
}

.time {
  grid-area: time;
  height: auto;
  padding: 0.25em;
}
.time p {
  font-weight: normal;
}
.timeinput {
  padding: 0.5em 0;
  font-size: 0.9em;
  margin-right: 0.5em;
  width: 7em;
  margin-top: 0.4em;
}
.timeinput:hover {
  cursor: text;
}

.stime {
  margin-bottom: 1.25em;
}

.subtask {
  grid-area: subtask;
  padding: 0.25em;
  padding-left: 2.4em;
  background-color: rgb(184, 219, 217);
  margin-bottom: -0.5em;
  margin-left: -1.4em;
  margin-right: -0.5em;
}

/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  background-color: #d8ebea;
  right: 0;
  bottom: 0;
  border-color: rgb(184, 219, 217);
  border-style: solid;
  border-radius: 5px;
  border-width: thin;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  background-color: rgb(0, 121, 145);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* <label class="switch">
  <input type="checkbox" checked>
  <span class="slider"></span>
</label> */

/* Responsiveness  */
@media only screen and (max-width: 950px) {
  .schedulepreviewcontainer {
    column-count: 1;
    margin-bottom: 1.5em;
  }

  .schedulepreview {
    min-height: 65vh;
    overflow-y: scroll;
    display: block;
  }

  .tasknotesinput {
    width: calc(100% - 4em);
  }

  #taskcreator {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 790px) {
}
