* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  border-style: none;
}

body {
  background-color: #D8EBEA;
}

.doubler {
  display: grid;
}

.sidebar {
  background-color: rgb(0, 121, 145);
  height: 100vh;
  width: 20vw;
  min-width: 210px;
  max-width: 250px;
  padding: 1.5em;
  margin: 0;
  position: fixed;
  z-index: 0;
}

.backheader {
  display: inline;
}

.content {
  padding: 1.5em;
  display: block;
  float: right;
  margin-left: calc(200px + 2em + 4%);
  max-width: calc(100vw - 250px);
}

.schedulepreview {
  background-color: rgb(244, 244, 249);
  border-radius: 5px;
  border-color: rgb(184, 219, 217);
  border-style: solid;
  border-width: 1px;
  min-height: 140vh;
  overflow-y: none;
}

.schedulepreviewcontainer {
  column-count: 2;
  margin-bottom: 1.5em;
}

#taskcreator {
  background-color: rgb(244, 244, 249);
  border-radius: 5px;
  border-color: rgb(184, 219, 217);
  border-style: solid;
  border-width: 1px;
  min-height: 100px;
}

.right {
  float: right;
}

.tasknameinput {
  font-size: 1.4em;
  padding: .3em;
  margin: .25em;
}

.taskcreationinput {
  border-style: solid;
  border-color: rgb(184, 219, 217);
  border-radius: 0px;
  border-width: thin;
  background-color: rgb(244, 244, 249);
}

.tasknotesinput {
  display: inline-block;
  resize: none;
  overflow-y: scroll;
  vertical-align: top;
  margin: .25em;
  padding: .3em;
  width: calc(100% - 33em);
}

.timeinput {
  padding: .5em 0;
  font-size: .9em;
  margin-right: .5em;
  width: 7em;
}

.lighttext {
  color: white;
  background-color: rgb(0, 121, 145);
}

#createpresetbutton {
  width: 100%;
  padding: 1em;
  border-style: solid;
  border-radius: 5px;
  border-width: thin;
  font-size: .85em;
  border-color: rgb(184, 219, 217);
  background-color: rgb(184, 219, 217);
}

.presetschedules {
  background-color: transparent;
}

#presetschedulelist {
  background-color: transparent;
}

.hide {
  display: none;
}

@media only screen and (max-width: 950px) {
  .schedulepreviewcontainer {
    column-count: 1;
    margin-bottom: 1.5em;
  }

  .schedulepreview {
    min-height: 65vh;
    overflow-y: scroll;
  }

  .tasknotesinput {
    width: 25em;
  }
}

@media only screen and (max-width: 790px) {}