* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  border-style: none;
  font-weight: lighter;
}
body {
  background-color: #d8ebea;
}

button {
  font-weight: normal;
}
button:hover {
  cursor: pointer;
}
a {
  color: rgba(0, 0, 0, 0.95);
  text-decoration: none;
  font-weight: normal;
}
a:hover {
  color: black;
}
ul {
  display: grid;
  grid-template-columns: 1fr;
  max-height: inherit;
}
input[name="indicval"] {
  border-style: none;
  width: 2.5em;
  margin-left: 1.5em;
  font-size: 1.2em;
}
.hide {
  display: inherit;
}
#time {
  background-color: transparent;
  font-size: 2.5em;
  padding-right: calc(50vw - 1.25em);
  margin-left: calc(50vw - 2em);
  margin-top: 0.1em;
  margin-bottom: -1.1em;
}
#time:hover {
  cursor: default;
}

@keyframes anim {
  100% {
    width: 100%;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(184, 219, 217);
  border-radius: 5px;
}
.doubler {
  display: grid;
}
.double {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.scroll {
  overflow-y: scroll;
}

.lightlabel {
  color: rgba(0, 0, 0, 0.95);
  padding: 0.75em;
  padding-bottom: 0;
}

.backheader {
  display: inline;
}

.inline {
  display: inline;
}
/* Schedule Header */
.scheduleheader {
  display: inline;
}

.timegroup {
  text-align: center;
  display: block;
  font-size: 1.3em;
}

.fillup.dayNotes {
  min-height: 0px;
  max-height: calc(100% - 3em);
  height: 100%;
  overflow-y: auto;
  border-radius: 10px;
  padding: 0.5em;
  margin-right: 1em;
}

#currenttimedisplay {
  font-size: 2em;
  padding-left: 0.5em;
  padding-right: 0.5em;

  text-align: center;
}
#currenttimedisplay:hover {
  cursor: default;
}
.baseline {
  margin-top: -1.6em;
  padding: 0 1em;
}

#progressbar {
  display: block;
  border-style: solid;
  border-color: rgb(184, 219, 217);
  border-radius: 5px;
  border-width: thin;
  height: 20px;
  width: calc(100% - 2em);
  margin-left: 1em;
}

#progress {
  display: block;
  background-color: rgb(0, 121, 145);
  height: 100%;
  border-radius: 5px;
  width: 0%;
}

/* Schedule Main Grid */
#schedulegrid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 3fr 1.3fr;
  gap: 2em 1em;
  grid-template-areas: ". ." ". .";
  padding: 1em;
}

#currentdisplay {
  height: 55vh;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(0, 121, 145);
  border-style: solid;
  border-width: thin;
  border-color: rgb(184, 219, 217);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content minmax(0% 40%) 100%;
  grid-template-areas: "top" "sub" "note";
}
#currentdisplay.noSub {
  grid-template-rows: min-content 0px calc(100% - 5em);
}
#currentdisplayname.finished {
  color: rgba(184, 219, 217, 0.95);
}
#currentdisplayname {
  color: rgba(255, 255, 255, 0.95);
  font-size: 3em;
  display: inline-block;
  max-width: calc(100% - 3.5em);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#currenttasktop {
  padding: 1em;
  grid-area: "top";
}
#nexttaskbutt {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.95);
  font-size: 1.2em;
  display: inline;
  padding: 1.2em;
  padding-top: 1.5em;
  float: right;
  margin: -0.75em;
}
#currentdiplaysub {
  grid-area: "sub";
  overflow-y: auto;
  border-radius: 8px;
  margin-top: -1em;
}
.subtaskdisplay {
  background-color: rgb(244, 244, 249);
  padding: 0.75em;
  margin: 0.5em 1em;
  border-radius: 8px;
  border-color: rgb(184, 219, 217);
  border-style: solid;
  border-width: thin;
  display: grid;
  grid-template-columns: 1em 8fr max-content;
  grid-column-gap: 0.5em;
}

.subtaskdisplay.finished {
  background-color: rgb(184, 219, 217);
}

#currentdisplaynotes {
  padding: 1em;
  grid-area: "note";
  height: 100%;
  margin-right: 1em;
  border-radius: 10px;
  margin-top: -0.75em;
  margin-bottom: -0.5em;
  color: rgba(0, 0, 0, 0.95);
}
/* UpcomingList display */
#upcominglist {
  height: 55vh;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(244, 244, 249);
  border-style: solid;
  border-width: thin;
  border-color: rgb(184, 219, 217);
  overflow-y: scroll;
}

#daynotes,
#booleanlist {
  position: relative;
  height: 120%;
  max-height: 24vh;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(244, 244, 249);
  border-style: solid;
  border-width: thin;
  border-color: rgb(184, 219, 217);
  overflow-y: scroll;
  overflow-x: hidden;
}

#daynotes {
  padding: 0.75em;
  height: calc(100% - 1.5em);
  width: calc(100% - 1.5em);
  resize: none;
  color: rgba(0, 0, 0, 0.95);
}

/* end */

.content {
  padding: 1.5em;
  display: block;
  float: right;
  margin-left: calc(200px + 2em + 4%);
  max-width: calc(100vw - 250px);
}

.schedulepreview {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  background-color: rgb(244, 244, 249);
  border-radius: 5px;
  border-color: rgb(184, 219, 217);
  border-style: solid;
  border-width: 1px;
  max-height: 140vh;
  overflow-y: scroll;
}

.schedulepreviewcontainer {
  display: grid;
  grid-template-columns: 1fr;
  height: 70vh;
  margin-bottom: 1.5em;
}

#previewlist {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.secondpart {
  padding-top: 0.4em;
}

.lineup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content min-content min-content;
  max-width: 100%;
}

.lighttext {
  color: rgba(255, 255, 255, 0.95);
  background-color: rgb(0, 121, 145);
}
/* Sidebar */
.sidebar {
  background-color: rgb(0, 121, 145);
  height: 100vh;
  width: 20vw;
  min-width: 210px;
  max-width: 250px;
  padding: 1.5em;
  margin: 0;
  position: fixed;
  z-index: 0;
}
#sideScroller {
  overflow-y: auto;
  height: 100vh;
}
#createpresetbutton {
  width: 100%;
  padding: 0.8em;
  border-style: solid;
  border-radius: 5px;
  border-width: thin;
  font-size: 0.85em;
  border-color: rgb(184, 219, 217);
  background-color: rgb(184, 219, 217);
  margin-bottom: 0.5em;
  color: rgba(0, 0, 0, 0.95);
}

#createpresetbutton:active {
  background-color: rgb(0, 121, 145);
  color: rgba(255, 255, 255, 0.95);
}

/* Sidebar Selection Containers */
.sidebarlist,
.dayNotes {
  resize: none;
  width: 100%;
  max-width: 100%;
  border-style: solid;
  border-color: rgb(184, 219, 217);
  border-radius: 5px;
  border-width: thin;
  background-color: rgb(244, 244, 249);
  margin: 0.5em 0;
  height: calc(30vh - 2em);
  overflow-y: scroll;
}
/* Creation Selections */
.creationselection {
  background-color: #d8ebea;
  width: 88%;
  margin: 2.5%;
  padding: 0.5em;
  border-style: solid;
  border-radius: 5px;
  border-width: thin;
  font-size: 0.85em;
  border-color: rgb(184, 219, 217);
  display: grid;
  grid-template-columns: 0.75em auto;
}

.selectionname {
  margin-left: 0.5em;
}
/* Creation Selection INput  */
.selectioninput {
  margin-left: 1.1em;
  font-size: 1em;
  background-color: transparent;
}
.selectioninput:hover,
.selectioninput:focus {
  border-bottom: solid;
  border-radius: 0px;
  border-width: thin;
  border-color: rgb(0, 121, 145);
}
/* task cards */
.taskblock {
  background-color: #d8ebea;
  width: 91%;
  margin: 2.5%;
  padding: 0.5em;
  border-style: solid;
  border-radius: 5px;
  border-width: thin;
  font-size: 0.85em;
  border-color: rgb(184, 219, 217);
  display: grid;
  grid-template-columns: 0.9em auto min-content;
  grid-template-rows: max-content max-content;
  grid-template-areas: "deletebutton taskname time" "deletebutton subtask subtask";
  height: min-content;
}

.deletebutton {
  height: auto;
  font-size: 1em;
  float: left;
  margin: -0.5em;
  background-color: transparent;
  color: transparent;
}
input.deletebutton {
  height: auto;
  margin-top: -1.65em;
  padding: 0.5em 0.5em;
  font-weight: normal;
}
.deletebutton:hover {
  color: black;
  background-color: rgb(184, 219, 217);
  cursor: pointer;
}
/* Task Creator */
#taskcreator {
  background-color: rgb(244, 244, 249);
  border-radius: 5px;
  border-color: rgb(184, 219, 217);
  border-style: solid;
  border-width: 1px;
  min-height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5em;
  padding-right: 0.5em;
}

.right {
  float: right;
}

.tasknameinput {
  font-size: 1.4em;
  padding: 0.3em;
  padding-top: 0.5em;
  margin: 0.25em;
  grid-area: 1 / 1 / 2 / 2;
}

.taskcreationinput {
  border-style: solid;
  border-color: rgb(184, 219, 217);
  border-radius: 0px;
  border-width: thin;
  background-color: rgb(244, 244, 249);
}

.tasknotesinput {
  display: inline-block;
  resize: none;
  overflow-y: scroll;
  vertical-align: top;
  margin: 0.25em;
  padding: 0.3em;
  width: calc(100% - 1.5em);
  margin-top: 0.4em;
  margin-right: -3em;
}

.subtasknameinput {
  padding: 0.3em;
  min-width: 14em;
  margin: 0.25em;
  margin-left: 0.3em;
  font-size: 1em;
}
.taskname {
  grid-area: taskname;
  padding: 0.5em;
  padding-top: 1em;
  font-size: 1.3em;
}
#timeinput {
  grid-area: 1 / 2 / 2 / 3;
}
.time {
  grid-area: time;
  height: auto;
  padding: 0.25em;
}
.time p {
  font-weight: normal;
}
.timeinput {
  padding: 0.5em 0;
  font-size: 0.9em;
  margin-right: 0.5em;
  width: 7em;
  margin-top: 0.4em;
}
.timeinput:hover {
  cursor: text;
}

.stime {
  margin-bottom: 1.25em;
}

#creatoradd {
  /* padding: 5%; */
  height: calc(100% - 1em);
  background-color: rgb(0, 121, 145);
  color: white;
  margin-top: 0.5em;
  font-weight: normal;
  font-size: 1em;
  border-radius: 5px;
}

.subtask {
  grid-area: subtask;
  padding: 0.25em;
  padding-left: 2.4em;
  background-color: rgb(184, 219, 217);
  margin-bottom: -0.5em;
  margin-left: -1.4em;
  margin-right: -0.5em;
}
.stlist {
  grid-area: 2 / 1 / 3 / 3;
}
.stlist ul,
.stlist .subtasknameinput {
  display: inline;
}
.stSub {
  height: 1.45em;
  width: 1.5em;
  background-color: rgb(0, 121, 145);
  color: white;
  font-weight: normal;
  font-size: 1em;
  border-radius: 5px;
  float: right;
  margin-right: 3em;
  text-align: center;
  padding-top: 0.25em;
}
.subBarName {
  padding-right: 2em;
}
.subBarList {
  overflow-x: hidden;
}

#tasknamelabel {
  color: transparent;
  font-size: 1em;
  font-weight: normal;
  display: none;
  pointer-events: none;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.subtasknamelabel {
  color: transparent;
  font-size: 1em;
  font-weight: normal;
  display: none;
  pointer-events: none;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.timeLabel {
  /* padding: 0 0.1em; */
  margin-bottom: -0.4em;
  margin-top: 0.25em;
  font-size: 0.7em;
  display: block;
  color: black;
  font-weight: normal;
}

input:focus + #tasknamelabel,
input:valid + #tasknamelabel {
  font-size: 0.75em;
  color: black;
  display: block;
  position: relative;
  top: 0;
  left: 0.75em;
  padding: 0 0.1em;
  float: left;
  max-width: 100%;
  margin: 0;
  z-index: 2;
  margin-right: -5em;
  background-color: rgb(244, 244, 249);
}
input:focus + .subtasknamelabel {
  font-size: 0.75em;
  color: black;
  display: block;
  position: relative;
  top: 0.25em;
  left: 0.5em;
  padding: 0 0.1em;
  float: left;
  max-width: 100%;
  margin: 0;
  margin-bottom: 0.25em;
  z-index: 2;

  background-color: rgb(244, 244, 249);
}
/* CheckBox  */
.checkBox {
  position: relative;
  display: inline-block;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: rgb(0, 121, 145);
  width: 1em;
  height: 1em;
  text-align: center;
}
.checkBox.checked {
  background-color: rgb(0, 121, 145);
  color: rgb(244, 244, 249);
}
.checkBox.unchecked {
  background-color: rgb(244, 244, 249);
  color: black;
}
div.secondpart div.checkBox,
div.creater div.checkBox {
  margin-left: 2em;
}
/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  background-color: #d8ebea;
  right: 0;
  bottom: 0;
  border-color: rgb(184, 219, 217);
  border-style: solid;
  border-radius: 5px;
  border-width: thin;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  background-color: rgb(0, 121, 145);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.swipeButton {
  display: none;
}

/* Responsiveness  */
@media only screen and (max-width: 950px) {
  .schedulepreviewcontainer {
    column-count: 1;
    margin-bottom: 1em;
    height: 55vh;
  }

  .schedulepreview {
    min-height: 55vh;
    overflow-y: scroll;
    display: block;
  }

  #taskcreator {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr max-content;
    gap: 1px 1px;
  }
  .lineup {
    grid-area: 1 / 1 / 2 / 3;
    overflow-x: auto;
  }
  .double {
  }

  .tasknotesinput .taskcreationinput {
    grid-area: 2 / 1 / 3 / 3;
  }

  #creatoradd {
    grid-area: 1 / 3 / 3 / 4;
    width: 1.5em;
  }
  #previewlist {
    grid-template-columns: 1fr;
  }
  input[name="indicval"] {
    width: 2em;
    margin-left: 0.75em;
  }
}
@media only screen and (max-width: 890px) {
  #creatoradd {
    grid-area: none;
    width: 1.5em;
  }
  #taskcreator {
    background-color: rgb(244, 244, 249);
    border-radius: 5px;
    border-color: rgb(184, 219, 217);
    border-style: solid;
    border-width: 1px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
    padding-right: 0.5em;
  }
  .tasknameinput {
    font-size: 1em;
    padding: 0.2em;
    padding-top: 0.5em;
    margin: 0.3em;
    width: 90%;
    grid-area: 1 / 1 / 2 / 2;
  }

  .tasknotesinput {
    width: calc(200% - 1.5em);
    margin-top: 0.4em;
    margin-right: -3em;
  }

  .subtasknameinput {
    padding: 0.2em;
    min-width: 10em;
    max-width: 13em;
    width: 85%;
    margin: 0.3em;
    margin-left: 0.2em;
    font-size: 0.8em;
  }
  .taskname {
    grid-area: taskname;
    padding: 0.5em;
    padding-top: 1em;
    font-size: 1.3em;
  }

  .timeinput {
    padding: 0.4em 0;
    font-size: 0.6em;
    margin-right: 0.4em;
    min-width: 5em;
    max-width: 7em;
    margin-top: 0.3em;
  }

  .stime {
    margin-bottom: 1em;
  }
  .lineup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr min-content min-content;
    max-width: 100%;
  }

  #creatoradd {
    /* padding: 5%; */

    grid-column: 1/3;
    width: calc(100% - 0.6em);
    height: calc(1.5em);

    background-color: rgb(0, 121, 145);
    color: white;
    margin: 0.3em;
    font-weight: normal;
    font-size: 1em;
    border-radius: 5px;
  }

  .subtask {
    grid-area: subtask;
    padding: 0.25em;
    padding-left: 2.4em;
    background-color: rgb(184, 219, 217);
    margin-bottom: -0.5em;
    margin-left: -1.4em;
    margin-right: -0.5em;
  }

  .stSub {
    height: 1.5em;
    width: 1.5em;
    font-size: 1em;
    border-radius: 5px;
    margin-right: 2em;
    padding-top: 0.2em;
    margin-top: -0.3em;
  }
  .subBarName {
    padding-right: 2em;
  }
  .subBarList {
    overflow-x: hidden;
  }
  input[name="indicval"] {
    width: 2em;
    margin-left: 1em;
    font-size: 1em;
  }
  #tasknamelabel {
    color: transparent;
    font-size: 1em;
    font-weight: normal;
    display: none;
    pointer-events: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .subtasknamelabel {
    color: transparent;
    font-size: 0.75em;
    font-weight: normal;
    display: none;
    pointer-events: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .timeLabel {
    /* padding: 0 0.1em; */
    margin-bottom: -0.4em;
    margin-top: 0.25em;
    font-size: 0.7em;
    display: block;
    color: black;
    font-weight: normal;
  }

  input:focus + #tasknamelabel,
  input:valid + #tasknamelabel {
    font-size: 0.75em;
    color: black;
    display: block;
    position: relative;
    top: 0;
    left: 0.75em;
    padding: 0 0.1em;
    float: left;
    max-width: 100%;
    margin: 0;
    z-index: 2;
    margin-right: -5em;
    background-color: rgb(244, 244, 249);
  }
  /* Toggle Switch */
  .switch {
    width: 36px;
    height: 18px;
  }

  .slider {
    border-radius: 36px;
  }

  .slider:before {
    height: 18px;
    width: 18px;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  .timegroup {
    margin-bottom: 0.5em;
  }
}
@media only screen and (max-width: 720px) {
  /*layout for phones*/
  .backheader {
    margin: auto;
  }
  .topLink {
    float: right;
    margin-top: -1.15em;
  }
  #topDate {
    display: block;
    margin: auto;
    text-align: center;

    font-size: 1.25em;
  }
  .doubler {
    display: grid;
    grid-template-columns: 1fr;
  }
  #creationsidebar {
    display: none;
    width: 80vw;
    max-width: 300px;
    position: fixed;
    z-index: 1;
  }
  .content {
    padding: 1.5em;
    display: block;
    float: right;
    margin-left: 0;
    max-width: 100%;
  }

  .schedulepreviewcontainer {
    display: grid;
    grid-template-columns: 1fr;
    height: 70vh;
    margin-bottom: 1.5em;
  }
  .deletebutton {
    color: black;
    background-color: rgb(184, 219, 217);
    cursor: pointer;
  }
  /*main page*/
  #schedulegrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7fr 3fr;
    gap: 2em 1em;
    grid-template-areas: ". " ".";
    padding: 1em;
  }
  .baseline {
    margin-top: -1em;
    padding: 0 1em;
  }
  #time {
    background-color: transparent;
    font-size: 1.5em;
    padding-right: calc(50vw - 1.25em);
    margin-left: calc(50vw - 2em);
    margin-top: 0.1em;
    margin-bottom: 0em;
  }
  #currentDisplay {
    position: absolute;
  }
  #currentdisplayname {
    font-size: 2em;
  }
  #nexttaskbutt {
    font-size: 0.8em;
    padding-top: 1.4em;
  }
  #currentdisplay {
    position: fixed;
    width: calc(100vw - 2em);
    top: 12vh;
    z-index: 2;
  }
  #currentdisplay.noSub {
    grid-template-rows: min-content 0px calc(100% - 4em);
  }
  #upcominglist {
    position: fixed;
    width: calc(100vw - 2em);
    top: 12vh;
    z-index: 1;
  }
  #booleanlist {
    position: fixed;
    width: calc(100vw - 2em);
    top: 70vh;
    z-index: 1;
  }
  #daynotes {
    position: fixed;
    width: calc(100vw - 3.5em);
    top: 70vh;
    z-index: 2;
  }
  .swipeButton {
    display: block;
    width: 1.5em;
    height: 1.5em;
    position: relative;
    bottom: 10em;
    color: black;
    background-color: #d8ebea;
    cursor: pointer;
    border-radius: 50%;
    border-color: rgb(184, 219, 217);
    border-style: solid;
    border-width: thin;
    z-index: 4;
  }
  .swipeButton.right {
    left: calc(100% - 1em);
  }
  .swipeButton.left {
    position: absolute;
    float: left;
    right: -0.25em;
    top: 4em;
    transform: rotateY(180deg);
  }
  .swipeButton.mid {
    position: absolute;
    float: left;
    right: 50vw;
    top: 77vh;
  }
  #createrReveal .swbt {
    /*Get the text to point up*/
    writing-mode: vertical-lr;
    padding-top: 0.25em;
  }
  #schedPreSB {
    top: 45vh;
    left: 90vw;
  }
  #cSideHide {
    position: absolute;
    float: left;
    left: -0.15em;
    top: 45vh;
  }
  .swipeButton.right.dn {
    position: absolute;
    bottom: 20vh;
    left: calc(100% - 2em);
  }
  .swipeButton.upswipebutt {
    position: fixed;
    top: 30vh;
    right: 94.5vw;
    z-index: 4;
  }
  .swipeButton.boolswipebutt {
    position: fixed;
    top: 75.5vh;
    right: 95vw;
    z-index: 3;
  }
  .swbt {
    display: block;
    text-align: center;
    font-size: 1.5em;
  }
  .hide {
    display: none !important;
  }
  .show {
    display: block;
  }
}
